html {
  scroll-behavior: smooth;
}
:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
  --roboto: 'Roboto Slab', serif;
}
.bg-gw {
  background-color: #ff7b7b;
}
.color-gw {
  color: #ff7b7b;
}

.bg-main {
  background-color: var(--bs-dark-text);
  color: var(--bs-body-bg);
}
.bg-main:hover {
  border: 1px solid var(--bs-dark-text);
}

ul {
  display: flex;
  list-style: none;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 500;
}
.navbar {
  box-shadow: var(--box-shadow);
}
nav li {
  border: none;
  display: inline-block;
  padding-right: 5px;
  transition: all linear 0.5s;
  margin-right: 20px;
  font-size: 18px;
}
nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding-right: 5px;
}
ul li {
  cursor: pointer;
  position: relative;
}
li.active::after {
  position: absolute;
  content: '';
  height: 6px;
  width: 100%;
  background-color: #ff105e;
  left: 0;
  bottom: -7px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  animation: appear 0.2s linear;
}

.btn {
  transition: 0.6s;
}

@keyframes appear {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  li.active::after {
    width: 30%;
  }
}

/* LANDING PAGE */

.logo {
  width: 150px;
}

.icon-nav {
  border-radius: 100px;
  padding-top: 10px;
}
.icon-nav:hover {
  border: 1px solid var(--bs-dark-text);
}

.anti-atas:hover {
  border: 1px solid var(--bs-dark-text);
}

.icon-nav2 {
  margin-right: 7px;
}
.nav-text {
  display: none;
}
@media screen and (max-width: 870px) {
  .anti-atas {
    margin-top: 10px;
    padding-bottom: 4px;
  }
  .logo {
    width: 100px;
  }
  .keBawah {
    padding-bottom: 20px;
  }
  .nav-text {
    display: block;
    margin-top: 25px;
  }
}

h4 {
  font-family: var(--roboto);
}

.bg2 {
  background-color: #e94560;
}

@media screen and (max-width: 845px) {
  .slide {
    margin-bottom: 20px;
  }
}
